.container {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.link {
  color: #c9c9c9;
  padding: 10px 20px;
}

.link:hover {
  color: #ffffff;
}

.selected {
  transition: all 0.5s;
  color: #ffffff;
}
