.mobileSlideshow {
  display: none;
  background-color: #000000;
}

.slideshowContainer {
  background-color: #000000;
}

.swiperContainer {
  background-color: #000000;
}

.swiperSlide {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.swiperImage {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  height: auto;
  max-width: 750px;
  object-fit: contain;
}

@media (max-width: 720px) {
  .mobileSlideshow {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
  }
  .slideshowContainer {
    display: none;
  }
  .swiperImage {
    margin-top: 0;
    margin-bottom: 0;
  }
}
