@import url("https://fonts.googleapis.com/css2?family=Rufina&display=swap");

body::-webkit-scrollbar {
  display: none;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: "Rufina", serif;
  transition: all 1s;
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

main {
  background-color: #000000;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #808080 !important;
  top: 50% !important;
  bottom: auto !important;
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}

@media (max-width: 720px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
